.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.basketGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}


/* Responsive adjustments */
@media (max-width: 1200px) {
    .productGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .productGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .productGrid {
        grid-template-columns: 1fr;
    }
}