.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    background-color: #f9f9f9;
}

.basketContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    max-width: 900px;
    margin: 0 auto;
}

.emptyBasket {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.totalPrice {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 3rem 0 3rem;
  }
  